/**
 * Rouge highlight colours are defined using the Base16 guidelines found at 
 * https://github.com/chriskempson/base16/blob/master/styling.md
 *
 * Notice that the colours do not have a numeric symbol, this is to allow
 * quick copy paste/override from any of the sample scheme files located
 * at https://github.com/chriskempson/base16
 */
$base16-scheme: (
	/* 00 Default Background */
	/* 01 Lighter Background (status bars) */
	/* 02 Selection Background */
	/* 03 Comments, Invisibles, Line Highlighting */
	/* 04 Dark Foreground (Used for status bars) */
	/* 05 Default Foreground, Caret, Delimiters, Operators */
	/* 06 Light Foreground (Not often used) */
	/* 07 Light Background (Not often used) */
	/* 08 Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
	/* 09 Integers, Boolean, Constants, XML Attributes, Markup Link Url */
	/* 0A Classes, Markup Bold, Search Text Background */
	/* 0B Strings, Inherited Class, Markup Code, Diff Inserted */
	/* 0C Support, Regular Expressions, Escape Characters, Markup Quotes */
	/* 0D Functions, Methods, Attribute IDs, Headings */
	/* 0E Keywords, Storage, Selector, Markup Italic, Diff Changed */
 	/* 0F Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
	base00: "181818",
	base01: "282828",
	base02: "383838",
	base03: "585858",
	base04: "b8b8b8",
	base05: "d8d8d8",
	base06: "e8e8e8",
	base07: "f8f8f8",
	base08: "ab4642",
	base09: "dc9656",
	base0A: "f7ca88",
	base0B: "a1b56c",
	base0C: "86c1b9",
	base0D: "7cafc2",
	base0E: "ba8baf",
	base0F: "a16946"	
) !default;
