/// Rouge highlight syntax provides as much of a base16 builder as possible as defined
/// by https://github.com/chriskempson/base16/blob/master/builder.md
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');
@import "schemes/base16.scss";
@import "functions";

$highlight-font-family: 'Source Code Pro', monospace !default;
$highlight-font-size: 0.9em !default;
$highlight-border-radius: 3px;

$base16schemes: () !default;
$base16default: (':root': $base16-dark) !default;
$base16schemes: map-merge($base16default, $base16schemes);

@each $name,$scheme in $base16schemes {
	@include apply-scheme($name, build-scheme($scheme))
}
